<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn btn-secondary form-control">Regresar</a>
    </div>
    &nbsp;
    <div class="col">
        <button type="submit" class="btn btn-success form-control">Crear</button>
    </div>
</div>